* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.title {
  padding: 2rem;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: #f5e0e7;
  align-items: center;
  justify-items: center;
}

.button-transitions {
  padding: 1rem;
  background-color: #99546B;
  color: #3b3d3b;
  text-decoration: none;
  transition: background-color 300ms 100ms ease-in-out, color 300ms 100ms ease-in-out, border-radius 300ms 100ms ease-in-out;

  &:hover {
    background-color:#3b3d3b;
    color: #f5e0e7;
    border-radius: 0.25rem;
  }
}

.cards {
  padding: 1rem;
  background-color: #99546B;
  color: #3b3d3b;
  text-decoration: none;
  transition: background-color 300ms 100ms ease-in-out, color 300ms 100ms ease-in-out, border-radius 300ms 100ms ease-in-out;

  &:hover {
    background-color:#3b3d3b;
    color: #f5e0e7;
    border-radius: 0.25rem;
  }
}